.header {
  padding: 10px;
  background: #001a33;
  color: #2b95ff;
  text-align: center;
}

.header a {
  color: #2b95ff;
  text-decoration: none;
}

.header a:hover {
  color: #eff7ff;
  font-weight: bold;
}
