<div class="container justify-content-center my-5">
  <div class="row">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="md-form">
          <input
            type="text"
            [(ngModel)]="searchText"
            class="form-control"
            id="search"
            mdbInput
          />
          <label for="search">Search</label>
        </div>
      </div>
    </div>
    <div class="col col-sm-12">
      <h1 class="text-center p-3">Bug Reports</h1>
      <div style="overflow-x: auto">
        <table mdbTable class="table table-bordered table-striped z-depth-1">
          <thead>
            <tr></tr>
            <tr>
              <th
                scope="col"
                [appSort]="bugList"
                data-order="desc"
                data-name="title"
              >
                Title <i class="fas fa-sort"></i>
              </th>
              <th
                scope="col"
                [appSort]="bugList"
                data-order="desc"
                data-name="priority"
              >
                Priority <i class="fas fa-sort"></i>
              </th>
              <th
                scope="col"
                [appSort]="bugList"
                data-order="desc"
                data-name="reporter"
              >
                Reporter <i class="fas fa-sort"></i>
              </th>
              <th
                scope="col"
                [appSort]="bugList"
                data-order="desc"
                data-name="title"
              >
                status <i class="fas fa-sort"></i>
              </th>
              <th
                scope="col"
                [appSort]="bugList"
                data-order="desc"
                data-name="createdAt"
                data-type="date"
              >
                Creation Date <i class="fas fa-sort"></i>
              </th>
              <th [colSpan]="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bug of bugList; let i = index">
              <td>
                <span>{{ bug.title }}</span>
              </td>
              <td>
                <span>{{ bug.priority }}</span>
              </td>
              <td>
                <span>{{ bug.reporter }}</span>
              </td>
              <td>
                <span>{{ bug.status }}</span>
              </td>
              <td>
                <span>{{ bug.createdAt | date }}</span>
              </td>
              <td>
                <span class="fas fa-edit" (click)="onEdit(bug)"></span>
              </td>
              <td>
                <span class="fas fa-trash-alt" (click)="onDelete(bug)"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr />
      <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
      >
      </mat-paginator>

      <!-- <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="70"
          [(page)]="page"
          aria-label="Default pagination"
        ></ngb-pagination>
      </div> -->
    </div>
  </div>
</div>
